<div class="main-container">
    <div class="title-bar">
        <h1 class="title">Speakers</h1>
    </div>
    <div class="speakers-list">
        <ul class="auto-grid" role="list" *ngIf="speakers$ | async as speakersData">
            <li *ngFor="let speaker of speakersData; index as i">
                <a class="profile">
                    <h2 class="profile__name">{{speaker.name.first}} {{speaker.name.last}}</h2>
                    <p class="profile__designation">{{speaker.location.country}}</p>
                    <img alt="Anita Simmons" [src]="speaker.picture.large" />
                </a>
            </li>
        </ul>
    </div>
</div>