@import '../../../../assets/styles/main';

:host {
    .container {
        margin-top: 3rem;
        .title-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.5rem 0rem;
            padding-bottom: 0.5rem;

            .title {
                font-weight: 600;
                font-family: "Inter", sans-serif;
            }
        }
    }
}