:host {
    .footer {
        border-top: 1px solid #10172C26;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        div {
            padding: 1.5rem 2rem;
            color: #BBBBBB;
        }
    }
}