<nav #navbar class="navbar navbar-expand-lg app-header navbar-light">
    <a class="navbar-brand ml-md-5">
        <h3>{{'core.header.title' | translate }}</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle = !toggle">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{show: toggle}" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            
        </div>
    </div>
</nav>